<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventory Management</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>


<h1>Product List</h1>
<a href="/products/add">Add Employee</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    <tr th:each="product : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stock}"></td>
        <td>
            <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
            <a th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a>
        </td>
    </tr>
</table>

<!-- Footer -->
<footer>
    <p>© 2025 Company Name. All rights reserved.</p>
</footer>
</body>
</html>
