<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container" style="width: 70%">
    <h1>Admin Dashboard</h1>
    <h2>All Students</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.username}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.status}"></td>
            <td>
                <a th:href="@{/admin/students/{id}(id=${student.id})}">View</a>
                <a th:href="@{/admin/students/edit/{id}(id=${student.id})}">Edit</a>
                <a th:href="@{/admin/students/delete/{id}(id=${student.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="links">
        <a th:href="@{/admin/logout}">Log Out</a>
    </div>
</div>
</body>
</html>